@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
h1{
    font-family: 'Vujahday Script', cursive;
}
p{
    font-family: 'Patua One', cursive;
    font-size: xx-large;
}